/* Navbar background putih */
.md-header {
  background-color: #ffffff !important;
}

/* Warna teks judul di kiri (site name) */
.md-header__title,
.md-header__title a {
  color: #005952 !important;
}

/* Warna teks menu navbar */
.md-tabs__link {
  color: #005952 !important;
}

/* Hover state */
.md-tabs__link:hover {
  color: #007f73 !important; /* opsional: sedikit lebih cerah saat hover */
}
.md-header__button,
.md-search__icon,
.md-nav__icon {
  color: #005952 !important;
  fill: #005952 !important;
}
.md-header__button:hover,
.md-search__icon:hover,
.md-nav__icon:hover {
  color: #007f73 !important;
  fill: #007f73 !important;
}
